@font-face {
  font-family: 'rubikregular';
  src: url('../font/rubik-regular-webfont.woff2') format('woff2'),
       url('../font/rubik-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'rubikbold';
  src: url('../font/rubik-bold-webfont.woff2') format('woff2'),
       url('../font/rubik-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
	font-family: 'rubikregular'!important;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'rubikbold';
}

h1 {
  font-size: 4.3rem;
  line-height: 4.0rem;
  @media (max-width: 991.98px) {
  	font-size: 3.3rem;
  	line-height: 3.0rem;
  }
  @media (max-width: 374.98px) {
		font-size: 3rem;
  }
}
h2 {
  @media (max-width: 374.98px) {
		font-size: 1.7rem;
  }
}
h3 {
	font-size: 2.3rem;
  line-height: 4.0rem;
  margin-bottom:50px;
  @media (max-width: 991.98px) {
		font-size: 1.5rem;
    line-height: 1.9rem;
    margin-bottom:40px;
  }
  @media (max-width: 767.98px) {
  	span {
  		display: block;
  	}
  }
  @media (max-width: 374.98px) {
		font-size: 1.2rem;
    line-height: 1.5rem;
  }
}

header {
	background: #3c2d82;
	padding-top:120px;
	position: relative;
	.logo-header {
		position:absolute;
		max-width: 350px;
    top: 65px;
		left: 325px;
	}
	form.form-inline {
		padding: 20px;
		background-color: hsla(0,0%,100%,.1);
		div {
			width:100%;
			margin-bottom:10px;
			span {
				color:#fff;
				&.text-uppercase {
					font-family: 'rubikbold';
					font-size:1.2em;
				}
			}
		}
		.form-control {
			width:100%;
			&#nascimento {
				width: calc(50% - 8px);
			}
			&#celular {
				width: 50%;
			}
		}
		.btn {
			background: #8C74FF;
			color:#fff;
			width:100%;
		}
	}
}

.frase {
	background: #000;
	@media (max-width: 991.98px) {
		padding: 60px 0;
		min-height: 50vh;
	}
	@media (min-width: 992px) {
		padding: 120px 0;
		height: 100vh;
		max-height: 535px;
		h1 {
		  line-height: 5.0rem;
		}	
	}
}

.causa {
	padding: 60px 0;
	@media (min-width: 992px) {
		padding: 120px 0;
	}
	background: #ffffff;
	ol {
		margin:0;
		padding:0;
		list-style: none;
		counter-reset: li;
		li {
			position: relative;
			padding-left:50px;
			margin-bottom: 1rem;
			&:before {
				content:'';
				content: counter(li); 
				counter-increment:li;
				position: absolute;
				left:0;
				width: 35px;
				height: 35px;
				border-radius: 100%;
		    padding-top: 6px;
		    background: #ffc107;
		    text-align: center;
			}
		}
	}
}

.frase-2-wp {
	background-color: #ffffff;
	.frase-2 {
		padding: 60px 0;
		@media (min-width: 992px) {
			padding: 120px 0;
		}
		background-image: url("../../images/mask.png");
	}
}

.ajude {
	padding: 60px 0;
	@media (min-width: 992px) {
		padding: 120px 0;
	}
	background-color: #fff;
	.img-bg {
		width: 150px;
		height: 150px;
		border-radius:100%;
		display: inline-block;
		margin: 30px 0 20px 0;
		padding-top:38px;
		@media (min-width: 992px) {
			margin-top: 0;
		}
		img {
			max-width:70px;
		}
	}
}

footer {
	padding: 60px 0;
	@media (min-width: 992px) {
		padding: 120px 0;
	}
	.btn {
		border-radius: 30px;
		width: 200px;
		padding: 1rem;
	}
	hr {
		border-top: 1px solid rgba(255,255,255,.1);
	}
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {  }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {  }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {  }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {  }