@font-face {
  font-family: 'metropolis-regular';
  src: url('../font/metropolis-regular.woff2') format('woff2'),
       url('../font/metropolis-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotoslab-bold';
  src: url('../font/robotoslab-bold.woff2') format('woff2'),
       url('../font/robotoslab-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
	color: #111!important;
}

h1, h2 {
	font-weight: 700;
  color: #3C2D82;
  margin-top:0;
}

h1 {
  font-family: 'robotoslab-bold';
  font-size: 40px;
  margin-bottom: 1.5rem;
}

h3 {
	font-family: 'robotoslab-bold';
}

p {
	font-family: 'metropolis-regular';
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 1.5rem;
}

header {
	background: #3c2d82;
	padding-top:120px;
	position: relative;
	.logo-header {
		position:absolute;
		max-width: 350px;
    top: 25px;
		left: 310px;
	}
	form.form-inline {
		padding: 20px;
		background-color: hsla(0,0%,100%,.1);
		div {
			width:100%;
			margin-bottom:10px;
			span {
				color:#fff;
				&.text-uppercase {
					font-family: 'robotoslab-bold';
					font-weight: 700;
					font-size:1.2em;
				}
			}
		}
		.form-control {
			width:100%;
			&#nascimento {
				width: calc(50% - 8px);
			}
			&#celular {
				width: 50%;
			}
		}
		.btn {
			background: #8C74FF;
			color:#fff;
			width:100%;
			font-family: 'metropolis-regular';
	    font-size: 13px;
	    font-weight: 600;
		}
	}
}

nav.mn-desktop {
	padding: 30px 0 20px 0;
	background: #fff;
	&.fixed {
		width:100%;
		z-index: 9;
    position: fixed;
    top:0;
    left:0;
		padding: 20px 0;
	}
	.logo {
		width:110px;
	}
	ul {
		padding:27px 0;
		margin:0;
		margin-left:60px;
		li {
			display: inline-block;
			a {
				display: inline-block;
		    text-transform: uppercase;
		    color: #3c2d82;
		    cursor: pointer;
		    font-family: 'robotoslab-bold';
		    padding: .75em .25em;
		    margin-left: .75em;
		    -webkit-transition: all .1s;
	    	transition: all .1s;
	    	border-radius: .25rem;
	    	text-decoration:none;
		    &:hover {
	    		color: #8c74ff;
				}
				&.ajude {
					color: #fff;
	    		background-color: rgba(80,192,32,.83);
		    	margin-right: .25em;
		    	padding: .75em 1em;
	    		&:hover {
	    			background-color: #83f353;
	    		}
				}
				&.minhaparte {
					color: #fff;
	    		background-color: #3c2d82;
		    	margin-left: 1em;
		    	padding: .75em 1em;
	    		&:hover {
	    			background-color: #8c74ff;
	    		}
				}
			}
		}
	}
	.social-icons {
		padding:27px 0;
		a {
			text-decoration: none;
		}
	}
}

.video-container {
  display: block;
  position: relative;
  height: 0;
  padding-bottom: 56%;
  overflow: hidden;
	iframe {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	}
}

.title-porque {
	font-size: 3.5em;
	margin: 60px 0;
}

section {
	padding: 60px 0;
	&.mudanca {
		background: #f8d11c;
		padding: 0 0;
		.container {
			position: relative;
			padding: 60px 15px;
			.foto-esperanca {
				position: absolute;
				bottom: 0;
		    left: -110px;
		    width: 100%;
		    max-width: 700px;
			}
		}
	}
	&.porque {
		background: #3c2d82;
		overflow: hidden;
		color:#fff;
		position: relative;
		.bg {
			position: absolute;
			top: 0;
			right:0;
			width:50%;
			height:100%;
			background: url('../../images/foto-porque.jpg') no-repeat;
		}
	}
	&.compartilhar{
		background: #ededed;
		.item-comp {
			display:inline-block;
	    background-color: rgba(80,192,32,.83);
	    border-radius: 50%;
	    margin-top: 2.5em;
		}
	}
	&.frase {
		padding: 80px 0;
		a {
			display: inline-block;
			margin-top: 1.5em;
	    font-family: 'robotoslab-bold';
	    padding: .75em .25em;
	    -webkit-transition: all .1s;
    	transition: all .1s;
    	border-radius: .25rem;
			color: #fff;
  		background-color: #3c2d82;
    	margin-left: 1em;
    	padding: .75em 1em;
    	text-decoration:none;
  		&:hover {
  			background-color: #8c74ff;
  		}
		}
	}
	&.contato-wp {
			background: #4c3e8b;
		.contato {
			form {
				background-color: #5a4d95;
				border-top: .25em solid #675b9d;
		    border-bottom: .25em solid #3c2d82;
			}
		}
	}
}

footer {
	padding: 60px 0;
	background: #444444;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {  }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {  }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {  }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {  }